In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
suicide = pd.read_csv('../datasets/Suicide-rate.csv')

In [4]:
suicide

,YEAR,STATE,RATE,DEATHS,URL
0,2020,AL,16.0,793,/nchs/pressroom/states/alabama/al.htm
1,2020,AK,27.5,204,/nchs/pressroom/states/alaska/ak.htm
2,2020,AZ,17.6,1363,/nchs/pressroom/states/arizona/az.htm
3,2020,AR,19.0,583,/nchs/pressroom/states/arkansas/ar.htm
4,2020,CA,10.0,4144,/nchs/pressroom/states/california/ca.htm
...,...,...,...,...,...
395,2005,VA,11.2,866,/nchs/pressroom/states/virginia/virginia.htm
396,2005,WA,12.8,822,/nchs/pressroom/states/washington/washington.htm
397,2005,WV,13.2,255,/nchs/pressroom/states/westvirginia/westvirgin...
398,2005,WI,11.6,643,/nchs/pressroom/states/wisconsin/wisconsin.htm
399,2005,WY,17.3,90,/nchs/pressroom/states/wyoming/wyoming.htm

In [30]:
suicide.groupby(['YEAR', 'STATE']).sum().unstack(0)#.plot()
# plt.legend(loc=(1.04, 0));

       RATE
YEAR   2005  2014  2015  2016  2017  2018  2019  2020
STATE
AK     19.9  22.1  26.9  25.8  27.0  24.6  28.5  27.5
AL     11.5  14.5  14.9  15.7  16.6  16.5  16.3  16.0
AR     14.3  17.3  19.1  18.2  20.8  18.3  18.0  19.0
AZ     16.4  18.0  18.2  17.7  18.2  19.2  18.7  17.6
CA      9.1  10.5  10.3  10.5  10.5  10.9  10.7  10.0
CO     17.2  19.9  19.5  20.5  20.3  21.9  22.1  21.5
CT      8.1   9.8   9.9  10.1  10.5  10.6  11.4   9.3
DE      9.7  13.2  12.6  11.5  11.6  11.4  11.3  12.3
FL     12.5  13.9  14.4  14.0  14.0  15.2  14.5  13.2
GA     10.6  12.6  12.7  13.3  13.6  14.6  14.6  13.7
HI      8.2  13.8  13.5  12.1  15.2  11.9  15.5  12.9
IA     11.2  12.9  13.9  14.6  15.0  15.5  16.7  18.0
ID     16.5  20.0  22.1  21.4  23.2  23.9  20.4  23.2
IL      8.6  10.5  10.3  10.7  11.2  11.3  10.9  10.5
IN     11.8  14.3  14.4  15.4  16.3  16.0  14.2  15.0
KS     13.3  15.7  16.3  17.9  19.1  19.3  18.2  18.4
KY     13.4  15.9  17.1  16.8  16.9  17.5  16.5  17.7
LA     11.0  14.3  15.2  14.2  15.2  15.1  15.0  13.7
MA      7.2   8.2   8.9   8.8   9.5   9.9   8.7   8.4
MD      8.4   9.8   8.8   9.4   9.8  10.2  10.3   9.2
ME     12.4  15.7  16.0  15.9  18.9  18.5  19.4  16.4
MI     11.0  13.3  13.8  13.3  14.1  15.0  14.3  14.0
MN     10.5  12.2  13.2  13.2  13.8  13.1  14.4  13.1
MO     12.5  16.3  17.1  18.4  18.5  19.5  18.2  18.2
MS     12.7  12.5  14.0  12.7  15.0  13.8  14.4  13.9
MT     21.7  23.9  25.3  25.9  28.9  24.9  26.2  26.1
NC     11.5  13.0  13.4  13.0  14.3  13.7  12.5  13.2
ND     13.7  17.8  17.5  19.0  20.1  19.2  18.1  18.2
NE     10.9  13.4  11.7  13.1  14.7  13.4  16.1  14.9
NH     12.0  17.8  16.5  17.2  18.9  19.4  17.5  16.4
NJ      6.1   8.3   8.3   7.2   8.3   8.3   8.0   7.1
NM     17.8  21.0  23.7  22.5  23.3  25.0  24.0  24.2
NV     19.8  19.6  18.4  21.4  20.3  20.8  19.8  18.2
NY      6.0   8.1   7.8   8.1   8.1   8.3   8.3   8.0
OH     11.5  12.6  13.9  14.2  14.8  15.3  15.1  13.8
OK     14.8  19.1  20.3  21.0  19.1  20.0  20.5  21.9
OR     14.9  18.6  17.8  17.8  19.0  19.0  20.4  18.3
PA     11.1  13.3  14.0  14.7  15.0  14.9  14.1  12.6
RI      6.3  10.1  11.2  11.2  11.8   9.5  10.7   8.5
SC     11.8  15.2  14.8  15.7  16.3  15.4  16.2  16.3
SD     15.4  17.1  20.4  20.2  22.5  19.3  20.9  21.0
TN     14.0  14.1  15.7  16.3  16.8  16.6  17.2  17.2
TX     10.9  12.2  12.5  12.6  13.4  13.7  13.4  13.3
UT     15.4  20.5  22.4  21.8  22.7  22.2  21.2  20.8
VA     11.2  12.9  12.7  13.2  13.4  14.0  12.8  13.5
VT     12.5  18.7  14.8  17.3  18.3  18.8  16.0  18.1
WA     12.8  15.2  15.4  14.9  16.9  15.9  15.9  15.2
WI     11.6  13.1  14.7  14.7  15.4  14.8  14.0  14.5
WV     13.2  18.1  17.4  19.3  21.1  21.2  18.5  19.4
WY     17.3  20.6  28.0  25.2  26.9  25.2  29.3  30.5