In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
GDP = pd.read_csv('Final-GDP-dataset.csv')
suicide = pd.read_csv('../datasets/Suicide-rate.csv')
spending =  pd.read_csv('Final-GDP-dataset.csv')

C:\Users\majd_\AppData\Local\Temp\ipykernel_14248\2218096916.py:1: DtypeWarning: Columns (33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  GDP = pd.read_csv('Final-GDP-dataset.csv')
C:\Users\majd_\AppData\Local\Temp\ipykernel_14248\2218096916.py:3: DtypeWarning: Columns (33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  spending =  pd.read_csv('Final-GDP-dataset.csv')

In [23]:
spending.head()

,Unnamed: 0,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,...,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996
0,92,"""01000""",Alabama,5,SAGDP11N,1.0,...,All industry total (percent change),Percent change,3.50,...,0,0,0,0,0,0,0,0,0,0
1,93,"""01000""",Alabama,5,SAGDP11N,2.0,...,Private industries,Percentage points,3.29,...,0,0,0,0,0,0,0,0,0,0
2,94,"""01000""",Alabama,5,SAGDP11N,3.0,11,"Agriculture, forestry, fishing and hunting",Percentage points,0.18,...,0,0,0,0,0,0,0,0,0,0
3,95,"""01000""",Alabama,5,SAGDP11N,4.0,111-112,Farms,Percentage points,0.16,...,0,0,0,0,0,0,0,0,0,0
4,96,"""01000""",Alabama,5,SAGDP11N,5.0,113-115,"Forestry, fishing, and related activities",Percentage points,0.01,...,0,0,0,0,0,0,0,0,0,0

In [24]:
GDP.head()

,Unnamed: 0,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,...,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996
0,92,"""01000""",Alabama,5,SAGDP11N,1.0,...,All industry total (percent change),Percent change,3.50,...,0,0,0,0,0,0,0,0,0,0
1,93,"""01000""",Alabama,5,SAGDP11N,2.0,...,Private industries,Percentage points,3.29,...,0,0,0,0,0,0,0,0,0,0
2,94,"""01000""",Alabama,5,SAGDP11N,3.0,11,"Agriculture, forestry, fishing and hunting",Percentage points,0.18,...,0,0,0,0,0,0,0,0,0,0
3,95,"""01000""",Alabama,5,SAGDP11N,4.0,111-112,Farms,Percentage points,0.16,...,0,0,0,0,0,0,0,0,0,0
4,96,"""01000""",Alabama,5,SAGDP11N,5.0,113-115,"Forestry, fishing, and related activities",Percentage points,0.01,...,0,0,0,0,0,0,0,0,0,0

In [7]:
suicide.head()

   YEAR STATE  RATE DEATHS                                       URL
0  2020    AL  16.0    793     /nchs/pressroom/states/alabama/al.htm
1  2020    AK  27.5    204      /nchs/pressroom/states/alaska/ak.htm
2  2020    AZ  17.6   1363     /nchs/pressroom/states/arizona/az.htm
3  2020    AR  19.0    583    /nchs/pressroom/states/arkansas/ar.htm
4  2020    CA  10.0   4144  /nchs/pressroom/states/california/ca.htm