In [1]:
import pandas as pd
import os
import numpy as np
import glob
import matplotlib.pyplot as plt

In [2]:
file_path = "Employment_Datasets"

In [3]:
# testing out the file listing directory from the os library
file_list = os.listdir(file_path)
file_list

['.~lock.Employment_AK.xlsx#',
 'Employment_AK.xlsx',
 'Employment_AL.xlsx',
 'Employment_AR.xlsx',
 'Employment_AZ.xlsx',
 'Employment_CA.xlsx',
 'Employment_CO.xlsx',
 'Employment_CT.xlsx',
 'Employment_DC.xlsx',
 'Employment_DE.xlsx',
 'Employment_FL.xlsx',
 'Employment_GA.xlsx',
 'Employment_HI.xlsx',
 'Employment_IA.xlsx',
 'Employment_ID.xlsx',
 'Employment_IL.xlsx',
 'Employment_IN.xlsx',
 'Employment_KS.xlsx',
 'Employment_KY.xlsx',
 'Employment_LA.xlsx',
 'Employment_MA.xlsx',
 'Employment_MD.xlsx',
 'Employment_ME.xlsx',
 'Employment_MI.xlsx',
 'Employment_MN.xlsx',
 'Employment_MO.xlsx',
 'Employment_MS.xlsx',
 'Employment_MT.xlsx',
 'Employment_NC.xlsx',
 'Employment_ND.xlsx',
 'Employment_NE.xlsx',
 'Employment_NH.xlsx',
 'Employment_NJ.xlsx',
 'Employment_NM.xlsx',
 'Employment_NV.xlsx',
 'Employment_NY.xlsx',
 'Employment_OA.xlsx',
 'Employment_OH.xlsx',
 'Employment_OK.xlsx',
 'Employment_RI.xlsx',
 'Employment_SC.xlsx',
 'Employment_SD.xlsx',
 'Employment_TC.xlsx',
 'Employment_TN.xlsx',
 'Employment_UT.xlsx',
 'Employment_VA.xlsx',
 'Employment_VT.xlsx',
 'Employment_WA.xlsx',
 'Employment_WI.xlsx',
 'Employment_WV.xlsx',
 'Employment_WY.xlsx']

In [4]:
"""
Locating the xls files in the folder and displaying the list of the files

Parsing the specific state code by string slicing the name of the files
"""
xls_files = glob.glob('Employment_Datasets/*.{}'.format('xlsx'))
display(xls_files)

print(xls_files[0][-7:-5])

['Employment_Datasets\\Employment_AK.xlsx',
 'Employment_Datasets\\Employment_AL.xlsx',
 'Employment_Datasets\\Employment_AR.xlsx',
 'Employment_Datasets\\Employment_AZ.xlsx',
 'Employment_Datasets\\Employment_CA.xlsx',
 'Employment_Datasets\\Employment_CO.xlsx',
 'Employment_Datasets\\Employment_CT.xlsx',
 'Employment_Datasets\\Employment_DC.xlsx',
 'Employment_Datasets\\Employment_DE.xlsx',
 'Employment_Datasets\\Employment_FL.xlsx',
 'Employment_Datasets\\Employment_GA.xlsx',
 'Employment_Datasets\\Employment_HI.xlsx',
 'Employment_Datasets\\Employment_IA.xlsx',
 'Employment_Datasets\\Employment_ID.xlsx',
 'Employment_Datasets\\Employment_IL.xlsx',
 'Employment_Datasets\\Employment_IN.xlsx',
 'Employment_Datasets\\Employment_KS.xlsx',
 'Employment_Datasets\\Employment_KY.xlsx',
 'Employment_Datasets\\Employment_LA.xlsx',
 'Employment_Datasets\\Employment_MA.xlsx',
 'Employment_Datasets\\Employment_MD.xlsx',
 'Employment_Datasets\\Employment_ME.xlsx',
 'Employment_Datasets\\Employment_MI.xlsx',
 'Employment_Datasets\\Employment_MN.xlsx',
 'Employment_Datasets\\Employment_MO.xlsx',
 'Employment_Datasets\\Employment_MS.xlsx',
 'Employment_Datasets\\Employment_MT.xlsx',
 'Employment_Datasets\\Employment_NC.xlsx',
 'Employment_Datasets\\Employment_ND.xlsx',
 'Employment_Datasets\\Employment_NE.xlsx',
 'Employment_Datasets\\Employment_NH.xlsx',
 'Employment_Datasets\\Employment_NJ.xlsx',
 'Employment_Datasets\\Employment_NM.xlsx',
 'Employment_Datasets\\Employment_NV.xlsx',
 'Employment_Datasets\\Employment_NY.xlsx',
 'Employment_Datasets\\Employment_OA.xlsx',
 'Employment_Datasets\\Employment_OH.xlsx',
 'Employment_Datasets\\Employment_OK.xlsx',
 'Employment_Datasets\\Employment_RI.xlsx',
 'Employment_Datasets\\Employment_SC.xlsx',
 'Employment_Datasets\\Employment_SD.xlsx',
 'Employment_Datasets\\Employment_TC.xlsx',
 'Employment_Datasets\\Employment_TN.xlsx',
 'Employment_Datasets\\Employment_UT.xlsx',
 'Employment_Datasets\\Employment_VA.xlsx',
 'Employment_Datasets\\Employment_VT.xlsx',
 'Employment_Datasets\\Employment_WA.xlsx',
 'Employment_Datasets\\Employment_WI.xlsx',
 'Employment_Datasets\\Employment_WV.xlsx',
 'Employment_Datasets\\Employment_WY.xlsx']

AK

<h2> Reading The files, and adding the state code as a column to the the Data Frame</h2>

In [5]:
#This is what the data frame looks like when we first read it with pandas
pd.read_excel(xls_files[0], skiprows=10) # we had to skip 10 dirty rows in the excel file

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9
4,2005,May,71.7,66.9,343476,320167,23309,6.8
...,...,...,...,...,...,...,...,...
210,2022,Jul,66.0,63.0,361861,345562,16299,4.5
211,2022,Aug,65.9,62.9,361918,345257,16661,4.6
212,2022,Sep,65.7,62.8,360657,344799,15858,4.4
213,2022,Oct,65.6,62.7,360474,344277,16197,4.5
214,2022,Nov,65.5,62.5,359888,343737,16151,4.5

Notice that the dataframe had no state codes at the start, so we have to add that in as a column

<h2> Data Pre-processing </h2>

In [6]:
#this is how we can parse the state code from the file names, for example, the first file
xls_files[0][-7:-5]
#we'll do this for every file

'AK'

<b>Geting the state codes from the file names and adding them to the columns of each csv file</b>

In [7]:
"""
We made a function read the file seperately, and add the state column based on the file name as shown above
"""
def read_and_add_state(file):
    df = pd.read_excel(file, skiprows=10)
    state_codes = [file[-7:-5]] * 215 #repeat the state code 215 times since we have 215 rows, so we need 
    df["State"] = state_codes
    return df


#list to store the 50 dataframes
state_emp_list = []

#apply the function to every file 
for i, file in enumerate(xls_files):
    df = read_and_add_state(file)
    state_emp_list.append(df)

#concatenate all the dataframes in the list together to create a big frame
df_concat = pd.concat(state_emp_list)

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
#Now the State codes are added in one column
df_concat

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0,AK
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9,AK
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9,AK
4,2005,May,71.7,66.9,343476,320167,23309,6.8,AK
...,...,...,...,...,...,...,...,...,...
210,2022,Jul,63.4,61.5,290095,281315,8780,3.0,WY
211,2022,Aug,63.2,61.2,289642,280571,9071,3.1,WY
212,2022,Sep,63.1,61.0,289358,279874,9484,3.3,WY
213,2022,Oct,63.0,60.8,289283,279240,10043,3.5,WY
214,2022,Nov,63.0,60.7,289414,279067,10347,3.6,WY

<b>Getting only the years that we want for the final merging of all the data</b>

In [9]:
#We only want the years 2005 then 2014 -> 2020
#cols = [2005, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
df2 = df_concat[(df_concat['Year'] == 2005) |(df_concat['Year'] > 2013) & (df_concat['Year'] < 2021) ]
df2

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0,AK
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9,AK
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9,AK
4,2005,May,71.7,66.9,343476,320167,23309,6.8,AK
...,...,...,...,...,...,...,...,...,...
187,2020,Aug,64.9,61.1,292404,275105,17299,5.9,WY
188,2020,Sep,64.9,61.2,292330,276005,16325,5.6,WY
189,2020,Oct,64.7,61.3,291789,276377,15412,5.3,WY
190,2020,Nov,64.6,61.2,291440,276394,15046,5.2,WY
191,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY

<b>Turning the state codes into region numbers to standardize with the final format of the dataframe</b>

In [10]:
gdp_df = pd.read_csv('../Majd/Final-GDP-dataset.csv')

C:\Users\ltpie\AppData\Local\Temp\ipykernel_24408\416844939.py:1: DtypeWarning: Columns (33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  gdp_df = pd.read_csv('../Majd/Final-GDP-dataset.csv')

In [11]:
gdp_df

,Unnamed: 0,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,...,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996
0,92,"""01000""",Alabama,5,SAGDP11N,1.0,...,All industry total (percent change),Percent change,3.50,...,0,0,0,0,0,0,0,0,0,0
1,93,"""01000""",Alabama,5,SAGDP11N,2.0,...,Private industries,Percentage points,3.29,...,0,0,0,0,0,0,0,0,0,0
2,94,"""01000""",Alabama,5,SAGDP11N,3.0,11,"Agriculture, forestry, fishing and hunting",Percentage points,0.18,...,0,0,0,0,0,0,0,0,0,0
3,95,"""01000""",Alabama,5,SAGDP11N,4.0,111-112,Farms,Percentage points,0.16,...,0,0,0,0,0,0,0,0,0,0
4,96,"""01000""",Alabama,5,SAGDP11N,5.0,113-115,"Forestry, fishing, and related activities",Percentage points,0.01,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86951,87675,"""98000""",Far West,8,SAGDP9S,74.0,...,Military,Millions of chained 1997 dollars,0.00,...,24159.9,24379.5,24578.8,24409.6,24590.5,23667.4,22529.0,21200.0,20008.7,19130.3
86952,87676,"""98000""",Far West,8,SAGDP9S,75.0,...,State and local,Millions of chained 1997 dollars,0.00,...,103766.6,106440.4,111946.9,115192.8,116701.3,117695.0,117865.8,117991.1,121619.9,122546.7
86953,87677,"""98000""",Far West,8,SAGDP9S,76.0,"36, 38",Electronic equipment and instruments 5/,Millions of chained 1997 dollars,0.00,...,20337.5,23995.6,24223.3,24256.5,25540.5,24652.6,25224.3,27109.3,36627.2,48358.9
86954,87678,"""98000""",Far West,8,SAGDP9S,77.0,"60, 61",Depository and nondepository institutions 6/,Millions of chained 1997 dollars,0.00,...,42820.4,43244.3,43763.3,48479.0,49381.1,40443.3,41888.3,40459.8,38577.9,36451.6
86955,87679,"""98000""",Far West,8,SAGDP9S,78.0,"73, 84, 87, 89",Business services and other services 7/,Millions of chained 1997 dollars,0.00,...,70507.8,79131.4,86488.2,96247.3,94316.8,95430.6,99108.7,105866.1,112798.4,123643.2

In [12]:
"""we want to use the Geo name and region columns from the pre-processed gdp file 
   to help us with getting the region number of each state""" 

region_and_geoname = gdp_df[['GeoName','Region']]

region_and_geoname

        GeoName  Region
0       Alabama       5
1       Alabama       5
2       Alabama       5
3       Alabama       5
4       Alabama       5
...         ...     ...
86951  Far West       8
86952  Far West       8
86953  Far West       8
86954  Far West       8
86955  Far West       8

[86956 rows x 2 columns]

In [13]:
#mapping the GeoName Column to state codes
region_and_geoname = region_and_geoname.replace({'GeoName' : {
        'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
        'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
        'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
        'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA',
        'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT',
        'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM',
        'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
        'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
        'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
        'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', 'District of Columbia': 'DC' 
        }})

In [14]:
#rename Geoname column to State so that it wont copy the content when merging
region_and_geoname = region_and_geoname.rename(columns={"GeoName": "State"})

In [15]:
region_and_geoname

          State  Region
0            AL       5
1            AL       5
2            AL       5
3            AL       5
4            AL       5
...         ...     ...
86951  Far West       8
86952  Far West       8
86953  Far West       8
86954  Far West       8
86955  Far West       8

[86956 rows x 2 columns]

In [31]:
#merge with the employment data frame to get the region codes into the final data frame
employment_df_final = pd.merge(df2, region_and_geoname, how='inner', left_on='State', right_on='State')

In [32]:
employment_df_final

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State,Region
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
1,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
2,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
3,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
4,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
...,...,...,...,...,...,...,...,...,...,...
6727675,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727676,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727677,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727678,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727679,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7

<b>Convert Year to string for merging </b>

In [34]:
employment_df_final['Year'] = employment_df_final['Year'].apply(lambda x: str(x))

In [37]:
employment_df_final

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State,Region
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
1,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
2,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
3,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
4,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK,8
...,...,...,...,...,...,...,...,...,...,...
6727675,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727676,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727677,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727678,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7
6727679,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY,7

<b>Getting rid of multiple data for one year by grouping by year and calculating mean</b>

In [46]:
#also getting rid of state column since we dont need it anymore
employment_df_final = employment_df_final.groupby(['Year', 'Region']).mean()

In [47]:
employment_df_final

             labor force participation rate  employment-population ratio  \
Year Region
2005 1                            68.268056                    65.237500
     2                            66.686667                    63.310000
     3                            67.393333                    63.558333
     4                            71.727381                    68.716667
     5                            63.232639                    59.727778
...                                     ...                          ...
2020 4                            67.629762                    64.075000
     5                            58.250694                    54.127778
     6                            59.355556                    55.016667
     7                            65.271667                    61.540000
     8                            61.806667                    55.363333

              labor force    employment   unemployment  unemployment rate
Year Region
2005 1       1.252368e+06  1.194055e+06   58312.847222           4.445833
     2       3.505530e+06  3.338310e+06  167220.483333           5.075000
     3       4.718622e+06  4.443859e+06  274763.450000           5.715000
     4       1.533905e+06  1.464107e+06   69798.107143           4.210714
     5       3.010531e+06  2.861709e+06  148822.319444           5.539583
...                   ...           ...            ...                ...
2020 4       1.607382e+06  1.516150e+06   91232.023810           5.282143
     5       3.311779e+06  3.073653e+06  238126.458333           7.129861
     6       2.075498e+06  1.923574e+06  151923.861111           7.355556
     7       1.291960e+06  1.214536e+06   77423.450000           5.738333
     8       5.073095e+06  4.557165e+06  515929.766667          10.566667

[64 rows x 6 columns]

In [51]:
employment_df_final.index

MultiIndex([('2005', 1),
            ('2005', 2),
            ('2005', 3),
            ('2005', 4),
            ('2005', 5),
            ('2005', 6),
            ('2005', 7),
            ('2005', 8),
            ('2014', 1),
            ('2014', 2),
            ('2014', 3),
            ('2014', 4),
            ('2014', 5),
            ('2014', 6),
            ('2014', 7),
            ('2014', 8),
            ('2015', 1),
            ('2015', 2),
            ('2015', 3),
            ('2015', 4),
            ('2015', 5),
            ('2015', 6),
            ('2015', 7),
            ('2015', 8),
            ('2016', 1),
            ('2016', 2),
            ('2016', 3),
            ('2016', 4),
            ('2016', 5),
            ('2016', 6),
            ('2016', 7),
            ('2016', 8),
            ('2017', 1),
            ('2017', 2),
            ('2017', 3),
            ('2017', 4),
            ('2017', 5),
            ('2017', 6),
            ('2017', 7),
            ('2017', 8),
            ('2018', 1),
            ('2018', 2),
            ('2018', 3),
            ('2018', 4),
            ('2018', 5),
            ('2018', 6),
            ('2018', 7),
            ('2018', 8),
            ('2019', 1),
            ('2019', 2),
            ('2019', 3),
            ('2019', 4),
            ('2019', 5),
            ('2019', 6),
            ('2019', 7),
            ('2019', 8),
            ('2020', 1),
            ('2020', 2),
            ('2020', 3),
            ('2020', 4),
            ('2020', 5),
            ('2020', 6),
            ('2020', 7),
            ('2020', 8)],
           names=['Year', 'Region'])

In [48]:
#employment data finalized ready to export
employment_df_final.to_csv('Final-Employment.csv')