In [6]:
import pandas as pd
import os
import numpy as np
import glob
import matplotlib.pyplot as plt

In [11]:
file_path = "Employment_Datasets"

In [12]:
# testing out the file listing directory from the os library
file_list = os.listdir(file_path)
file_list

['.~lock.Employment_AK.xlsx#',
 'Employment_AK.xlsx',
 'Employment_AL.xlsx',
 'Employment_AR.xlsx',
 'Employment_AZ.xlsx',
 'Employment_CA.xlsx',
 'Employment_CO.xlsx',
 'Employment_CT.xlsx',
 'Employment_DC.xlsx',
 'Employment_DE.xlsx',
 'Employment_FL.xlsx',
 'Employment_GA.xlsx',
 'Employment_HI.xlsx',
 'Employment_IA.xlsx',
 'Employment_ID.xlsx',
 'Employment_IL.xlsx',
 'Employment_IN.xlsx',
 'Employment_KS.xlsx',
 'Employment_KY.xlsx',
 'Employment_LA.xlsx',
 'Employment_MA.xlsx',
 'Employment_MD.xlsx',
 'Employment_ME.xlsx',
 'Employment_MI.xlsx',
 'Employment_MN.xlsx',
 'Employment_MO.xlsx',
 'Employment_MS.xlsx',
 'Employment_MT.xlsx',
 'Employment_NC.xlsx',
 'Employment_ND.xlsx',
 'Employment_NE.xlsx',
 'Employment_NH.xlsx',
 'Employment_NJ.xlsx',
 'Employment_NM.xlsx',
 'Employment_NV.xlsx',
 'Employment_NY.xlsx',
 'Employment_OA.xlsx',
 'Employment_OH.xlsx',
 'Employment_OK.xlsx',
 'Employment_RI.xlsx',
 'Employment_SC.xlsx',
 'Employment_SD.xlsx',
 'Employment_TC.xlsx',
 'Employment_TN.xlsx',
 'Employment_UT.xlsx',
 'Employment_VA.xlsx',
 'Employment_VT.xlsx',
 'Employment_WA.xlsx',
 'Employment_WI.xlsx',
 'Employment_WV.xlsx',
 'Employment_WY.xlsx']

In [13]:
"""
Locating the xls files in the folder and displaying the list of the files

Parsing the specific state code by string slicing the name of the files
"""
xls_files = glob.glob('Employment_Datasets/*.{}'.format('xlsx'))
display(xls_files)

print(xls_files[0][-7:-5])

['Employment_Datasets\\Employment_AK.xlsx',
 'Employment_Datasets\\Employment_AL.xlsx',
 'Employment_Datasets\\Employment_AR.xlsx',
 'Employment_Datasets\\Employment_AZ.xlsx',
 'Employment_Datasets\\Employment_CA.xlsx',
 'Employment_Datasets\\Employment_CO.xlsx',
 'Employment_Datasets\\Employment_CT.xlsx',
 'Employment_Datasets\\Employment_DC.xlsx',
 'Employment_Datasets\\Employment_DE.xlsx',
 'Employment_Datasets\\Employment_FL.xlsx',
 'Employment_Datasets\\Employment_GA.xlsx',
 'Employment_Datasets\\Employment_HI.xlsx',
 'Employment_Datasets\\Employment_IA.xlsx',
 'Employment_Datasets\\Employment_ID.xlsx',
 'Employment_Datasets\\Employment_IL.xlsx',
 'Employment_Datasets\\Employment_IN.xlsx',
 'Employment_Datasets\\Employment_KS.xlsx',
 'Employment_Datasets\\Employment_KY.xlsx',
 'Employment_Datasets\\Employment_LA.xlsx',
 'Employment_Datasets\\Employment_MA.xlsx',
 'Employment_Datasets\\Employment_MD.xlsx',
 'Employment_Datasets\\Employment_ME.xlsx',
 'Employment_Datasets\\Employment_MI.xlsx',
 'Employment_Datasets\\Employment_MN.xlsx',
 'Employment_Datasets\\Employment_MO.xlsx',
 'Employment_Datasets\\Employment_MS.xlsx',
 'Employment_Datasets\\Employment_MT.xlsx',
 'Employment_Datasets\\Employment_NC.xlsx',
 'Employment_Datasets\\Employment_ND.xlsx',
 'Employment_Datasets\\Employment_NE.xlsx',
 'Employment_Datasets\\Employment_NH.xlsx',
 'Employment_Datasets\\Employment_NJ.xlsx',
 'Employment_Datasets\\Employment_NM.xlsx',
 'Employment_Datasets\\Employment_NV.xlsx',
 'Employment_Datasets\\Employment_NY.xlsx',
 'Employment_Datasets\\Employment_OA.xlsx',
 'Employment_Datasets\\Employment_OH.xlsx',
 'Employment_Datasets\\Employment_OK.xlsx',
 'Employment_Datasets\\Employment_RI.xlsx',
 'Employment_Datasets\\Employment_SC.xlsx',
 'Employment_Datasets\\Employment_SD.xlsx',
 'Employment_Datasets\\Employment_TC.xlsx',
 'Employment_Datasets\\Employment_TN.xlsx',
 'Employment_Datasets\\Employment_UT.xlsx',
 'Employment_Datasets\\Employment_VA.xlsx',
 'Employment_Datasets\\Employment_VT.xlsx',
 'Employment_Datasets\\Employment_WA.xlsx',
 'Employment_Datasets\\Employment_WI.xlsx',
 'Employment_Datasets\\Employment_WV.xlsx',
 'Employment_Datasets\\Employment_WY.xlsx']

AK

<h2> Reading The files, and adding the state code as a column to the the Data Frame</h2>

In [45]:
#This is what the data frame looks like when we first read it with pandas
pd.read_excel(xls_files[0], skiprows=10) # we had to skip 10 dirty rows in the excel file

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9
4,2005,May,71.7,66.9,343476,320167,23309,6.8
...,...,...,...,...,...,...,...,...
210,2022,Jul,66.0,63.0,361861,345562,16299,4.5
211,2022,Aug,65.9,62.9,361918,345257,16661,4.6
212,2022,Sep,65.7,62.8,360657,344799,15858,4.4
213,2022,Oct,65.6,62.7,360474,344277,16197,4.5
214,2022,Nov,65.5,62.5,359888,343737,16151,4.5

Notice that the dataframe had no state codes at the start, so we have to add that in as a column

<h2> Data Pre-processing </h2>

In [46]:
#this is how we can parse the state code from the file names, for example, the first file
xls_files[0][-7:-5]
#we'll do this for every file

'AK'

In [47]:
"""
We made a function read the file seperately, and add the state column based on the file name as shown above
"""
def read_and_add_state(file):
    df = pd.read_excel(file, skiprows=10)
    state_codes = [file[-7:-5]] * 215 #repeat the state code 215 times since we have 215 rows, so we need 
    df["State"] = state_codes
    return df


#list to store the 50 dataframes
state_emp_list = []

#apply the function to every file 
for i, file in enumerate(xls_files):
    df = read_and_add_state(file)
    state_emp_list.append(df)

#concatenate as new columns
df_concat = pd.concat(state_emp_list)

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [48]:
#Now the State codes are added in one column
df_concat

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0,AK
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9,AK
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9,AK
4,2005,May,71.7,66.9,343476,320167,23309,6.8,AK
...,...,...,...,...,...,...,...,...,...
210,2022,Jul,63.4,61.5,290095,281315,8780,3.0,WY
211,2022,Aug,63.2,61.2,289642,280571,9071,3.1,WY
212,2022,Sep,63.1,61.0,289358,279874,9484,3.3,WY
213,2022,Oct,63.0,60.8,289283,279240,10043,3.5,WY
214,2022,Nov,63.0,60.7,289414,279067,10347,3.6,WY

In [138]:
#We only want the years 2005 then 2014 -> 2020
#cols = [2005, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
df2 = df_concat[(df_concat['Year'] == 2005) |(df_concat['Year'] > 2013) & (df_concat['Year'] < 2021) ]
df2

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0,AK
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9,AK
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9,AK
4,2005,May,71.7,66.9,343476,320167,23309,6.8,AK
...,...,...,...,...,...,...,...,...,...
187,2020,Aug,64.9,61.1,292404,275105,17299,5.9,WY
188,2020,Sep,64.9,61.2,292330,276005,16325,5.6,WY
189,2020,Oct,64.7,61.3,291789,276377,15412,5.3,WY
190,2020,Nov,64.6,61.2,291440,276394,15046,5.2,WY
191,2020,Dec,64.5,61.2,291200,276231,14969,5.1,WY

In [139]:
#calculating the mean unemployment rate per year for each state
#we only want the unemployment rate
df_final = df2.groupby(['Year','State']).mean()
df_final

            labor force participation rate  employment-population ratio  \
Year State
2005 AK                          71.650000                    66.700000
     AL                          61.541667                    58.816667
     AR                          63.133333                    59.816667
     AZ                          64.100000                    61.116667
     CA                          65.533333                    61.991667
...                                    ...                          ...
2020 VT                          63.825000                    60.225000
     WA                          64.366667                    58.900000
     WI                          66.158333                    61.966667
     WV                          54.100000                    49.675000
     WY                          65.241667                    61.458333

             labor force    employment   unemployment  unemployment rate
Year State
2005 AK     3.441352e+05  3.202885e+05   23846.666667           6.933333
     AL     2.140116e+06  2.044937e+06   95179.000000           4.458333
     AR     1.333987e+06  1.263888e+06   70098.750000           5.258333
     AZ     2.862538e+06  2.729310e+06  133227.833333           4.666667
     CA     1.753765e+07  1.659441e+07  943234.500000           5.383333
...                  ...           ...            ...                ...
2020 VT     3.411180e+05  3.219550e+05   19163.000000           5.566667
     WA     3.929196e+06  3.595711e+06  333485.000000           8.466667
     WI     3.105113e+06  2.908154e+06  196959.000000           6.341667
     WV     7.827701e+05  7.188331e+05   63937.000000           8.200000
     WY     2.936747e+05  2.766258e+05   17048.916667           5.808333

[400 rows x 6 columns]

In [141]:
#Exporting to csv
df_final.to_csv('Final-Employment-Data.csv')