In [6]:
import pandas as pd
import os
import numpy as np
import glob
import matplotlib.pyplot as plt

In [11]:
file_path = "Employment_Datasets"

In [12]:
# testing out the file listing directory from the os library
file_list = os.listdir(file_path)
file_list

['.~lock.Employment_AK.xlsx#',
 'Employment_AK.xlsx',
 'Employment_AL.xlsx',
 'Employment_AR.xlsx',
 'Employment_AZ.xlsx',
 'Employment_CA.xlsx',
 'Employment_CO.xlsx',
 'Employment_CT.xlsx',
 'Employment_DC.xlsx',
 'Employment_DE.xlsx',
 'Employment_FL.xlsx',
 'Employment_GA.xlsx',
 'Employment_HI.xlsx',
 'Employment_IA.xlsx',
 'Employment_ID.xlsx',
 'Employment_IL.xlsx',
 'Employment_IN.xlsx',
 'Employment_KS.xlsx',
 'Employment_KY.xlsx',
 'Employment_LA.xlsx',
 'Employment_MA.xlsx',
 'Employment_MD.xlsx',
 'Employment_ME.xlsx',
 'Employment_MI.xlsx',
 'Employment_MN.xlsx',
 'Employment_MO.xlsx',
 'Employment_MS.xlsx',
 'Employment_MT.xlsx',
 'Employment_NC.xlsx',
 'Employment_ND.xlsx',
 'Employment_NE.xlsx',
 'Employment_NH.xlsx',
 'Employment_NJ.xlsx',
 'Employment_NM.xlsx',
 'Employment_NV.xlsx',
 'Employment_NY.xlsx',
 'Employment_OA.xlsx',
 'Employment_OH.xlsx',
 'Employment_OK.xlsx',
 'Employment_RI.xlsx',
 'Employment_SC.xlsx',
 'Employment_SD.xlsx',
 'Employment_TC.xlsx',
 'Employment_TN.xlsx',
 'Employment_UT.xlsx',
 'Employment_VA.xlsx',
 'Employment_VT.xlsx',
 'Employment_WA.xlsx',
 'Employment_WI.xlsx',
 'Employment_WV.xlsx',
 'Employment_WY.xlsx']

In [13]:
"""
Locating the xls files in the folder and displaying the list of the files

Parsing the specific state code by string slicing the name of the files
"""
xls_files = glob.glob('Employment_Datasets/*.{}'.format('xlsx'))
display(xls_files)

print(xls_files[0][-7:-5])

['Employment_Datasets\\Employment_AK.xlsx',
 'Employment_Datasets\\Employment_AL.xlsx',
 'Employment_Datasets\\Employment_AR.xlsx',
 'Employment_Datasets\\Employment_AZ.xlsx',
 'Employment_Datasets\\Employment_CA.xlsx',
 'Employment_Datasets\\Employment_CO.xlsx',
 'Employment_Datasets\\Employment_CT.xlsx',
 'Employment_Datasets\\Employment_DC.xlsx',
 'Employment_Datasets\\Employment_DE.xlsx',
 'Employment_Datasets\\Employment_FL.xlsx',
 'Employment_Datasets\\Employment_GA.xlsx',
 'Employment_Datasets\\Employment_HI.xlsx',
 'Employment_Datasets\\Employment_IA.xlsx',
 'Employment_Datasets\\Employment_ID.xlsx',
 'Employment_Datasets\\Employment_IL.xlsx',
 'Employment_Datasets\\Employment_IN.xlsx',
 'Employment_Datasets\\Employment_KS.xlsx',
 'Employment_Datasets\\Employment_KY.xlsx',
 'Employment_Datasets\\Employment_LA.xlsx',
 'Employment_Datasets\\Employment_MA.xlsx',
 'Employment_Datasets\\Employment_MD.xlsx',
 'Employment_Datasets\\Employment_ME.xlsx',
 'Employment_Datasets\\Employment_MI.xlsx',
 'Employment_Datasets\\Employment_MN.xlsx',
 'Employment_Datasets\\Employment_MO.xlsx',
 'Employment_Datasets\\Employment_MS.xlsx',
 'Employment_Datasets\\Employment_MT.xlsx',
 'Employment_Datasets\\Employment_NC.xlsx',
 'Employment_Datasets\\Employment_ND.xlsx',
 'Employment_Datasets\\Employment_NE.xlsx',
 'Employment_Datasets\\Employment_NH.xlsx',
 'Employment_Datasets\\Employment_NJ.xlsx',
 'Employment_Datasets\\Employment_NM.xlsx',
 'Employment_Datasets\\Employment_NV.xlsx',
 'Employment_Datasets\\Employment_NY.xlsx',
 'Employment_Datasets\\Employment_OA.xlsx',
 'Employment_Datasets\\Employment_OH.xlsx',
 'Employment_Datasets\\Employment_OK.xlsx',
 'Employment_Datasets\\Employment_RI.xlsx',
 'Employment_Datasets\\Employment_SC.xlsx',
 'Employment_Datasets\\Employment_SD.xlsx',
 'Employment_Datasets\\Employment_TC.xlsx',
 'Employment_Datasets\\Employment_TN.xlsx',
 'Employment_Datasets\\Employment_UT.xlsx',
 'Employment_Datasets\\Employment_VA.xlsx',
 'Employment_Datasets\\Employment_VT.xlsx',
 'Employment_Datasets\\Employment_WA.xlsx',
 'Employment_Datasets\\Employment_WI.xlsx',
 'Employment_Datasets\\Employment_WV.xlsx',
 'Employment_Datasets\\Employment_WY.xlsx']

AK

<h2> Reading The files, and adding the state code as a column to the the Data Frame</h2>

In [45]:
#This is what the data frame looks like when we first read it with pandas
pd.read_excel(xls_files[0], skiprows=10) # we had to skip 10 dirty rows in the excel file

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9
4,2005,May,71.7,66.9,343476,320167,23309,6.8
...,...,...,...,...,...,...,...,...
210,2022,Jul,66.0,63.0,361861,345562,16299,4.5
211,2022,Aug,65.9,62.9,361918,345257,16661,4.6
212,2022,Sep,65.7,62.8,360657,344799,15858,4.4
213,2022,Oct,65.6,62.7,360474,344277,16197,4.5
214,2022,Nov,65.5,62.5,359888,343737,16151,4.5

Notice that the dataframe had no state codes at the start, so we have to add that in as a column

<h2> Data Pre-processing </h2>

In [46]:
#this is how we can parse the state code from the file names, for example, the first file
xls_files[0][-7:-5]
#we'll do this for every file

'AK'

In [47]:
"""
We made a function read the file seperately, and add the state column based on the file name as shown above
"""
def read_and_add_state(file):
    df = pd.read_excel(file, skiprows=10)
    state_codes = [file[-7:-5]] * 215 #repeat the state code 215 times since we have 215 rows, so we need 
    df["State"] = state_codes
    return df


#list to store the 50 dataframes
state_emp_list = []

#apply the function to every file 
for i, file in enumerate(xls_files):
    df = read_and_add_state(file)
    state_emp_list.append(df)

#concatenate as new columns
df_concat = pd.concat(state_emp_list)

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\ltpie\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [48]:
#Now the State codes are added in one column
df_concat

,Year,Period,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,State
0,2005,Jan,71.7,66.6,341438,317165,24273,7.1,AK
1,2005,Feb,71.7,66.7,341972,317924,24048,7.0,AK
2,2005,Mar,71.7,66.8,342453,318673,23780,6.9,AK
3,2005,Apr,71.7,66.8,342940,319427,23513,6.9,AK
4,2005,May,71.7,66.9,343476,320167,23309,6.8,AK
...,...,...,...,...,...,...,...,...,...
210,2022,Jul,63.4,61.5,290095,281315,8780,3.0,WY
211,2022,Aug,63.2,61.2,289642,280571,9071,3.1,WY
212,2022,Sep,63.1,61.0,289358,279874,9484,3.3,WY
213,2022,Oct,63.0,60.8,289283,279240,10043,3.5,WY
214,2022,Nov,63.0,60.7,289414,279067,10347,3.6,WY

In [73]:
#calculating the mean unemployment rate per year for each state
#we only want the unemployment rate
df2 = df_concat.groupby(['Year','State'])["unemployment rate"].mean()
df2

Year  State
2005  AK       6.933333
      AL       4.458333
      AR       5.258333
      AZ       4.666667
      CA       5.383333
                 ...
2022  VT       2.418182
      WA       3.954545
      WI       3.018182
      WV       3.827273
      WY       3.354545
Name: unemployment rate, Length: 900, dtype: float64

In [74]:
#Exporting to csv
#df_concat.to_csv('Final-Unemployment-rate')

In [75]:
#Unstacking the state , we want the state
df2 = df2.unstack(1)

In [76]:
df2

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TC,TN,UT,VA,VT,WA,WI,WV,WY
Year,,,,,,,,,,,,,,,,,,,,,
2005,6.933333,4.458333,5.258333,4.666667,5.383333,5.075000,4.800000,6.991667,4.508333,2.875000,...,3.550000,5.458333,5.525000,4.041667,3.825000,3.450000,5.591667,4.741667,5.425000,3.541667
2006,6.633333,4.000000,5.250000,4.308333,4.916667,4.275000,4.425000,6.325000,3.908333,2.466667,...,3.000000,5.000000,5.275000,2.866667,3.341667,3.716667,5.000000,4.675000,5.200000,3.008333
2007,6.258333,4.041667,5.391667,3.750000,5.308333,3.700000,4.450000,5.950000,3.608333,3.300000,...,2.825000,4.366667,4.633333,2.558333,3.283333,3.941667,4.600000,4.825000,4.825000,2.691667
2008,6.475000,5.883333,5.441667,5.791667,7.300000,4.875000,5.650000,6.850000,5.033333,5.691667,...,3.083333,4.866667,6.516667,3.341667,4.275000,4.566667,5.291667,4.983333,4.750000,2.933333
2009,7.983333,10.083333,7.725000,9.666667,11.541667,7.875000,8.325000,10.000000,8.341667,9.558333,...,4.583333,7.541667,10.116667,7.258333,6.833333,6.166667,8.266667,8.958333,8.300000,6.258333
2010,8.133333,10.375000,7.858333,10.300000,12.458333,9.141667,9.558333,9.950000,8.658333,10.825000,...,4.908333,8.191667,9.825000,7.933333,7.291667,6.316667,9.133333,8.500000,8.633333,6.941667
2011,7.733333,9.583333,7.908333,9.433333,11.891667,8.691667,9.016667,10.191667,7.608333,10.000000,...,4.600000,8.016667,9.108333,7.058333,6.541667,5.566667,8.525000,7.533333,7.825000,6.133333
2012,7.250000,8.158333,7.266667,8.350000,10.525000,8.000000,8.358333,8.975000,7.066667,8.666667,...,4.058333,6.708333,7.958333,4.775000,5.950000,4.816667,7.641667,6.925000,7.258333,5.500000
2013,6.991667,7.325000,7.041667,7.816667,9.033333,6.750000,7.950000,8.433333,6.608333,7.533333,...,3.700000,6.300000,7.725000,4.208333,5.550000,4.416667,6.633333,6.641667,6.716667,4.733333
2014,6.741667,6.733333,5.900000,6.791667,7.566667,4.983333,6.616667,7.708333,5.608333,6.433333,...,3.333333,5.191667,6.600000,3.633333,5.116667,3.991667,5.925000,5.350000,6.500000,4.341667
2015,6.275000,6.125000,4.950000,6.075000,6.225000,3.741667,5.616667,6.916667,4.791667,5.525000,...,3.050000,4.483333,5.566667,3.508333,4.366667,3.533333,5.433333,4.425000,6.583333,4.208333
2016,6.600000,5.908333,3.983333,5.483333,5.516667,3.133333,4.866667,6.233333,4.525000,4.916667,...,3.016667,4.650000,4.758333,3.350000,4.000000,3.125000,5.225000,3.908333,6.091667,5.333333
2017,6.508333,4.508333,3.741667,4.975000,4.833333,2.608333,4.416667,6.100000,4.466667,4.300000,...,3.050000,4.341667,3.750000,3.166667,3.666667,3.008333,4.641667,3.258333,5.208333,4.325000
2018,5.966667,3.916667,3.633333,4.808333,4.258333,3.008333,3.933333,5.658333,3.775000,3.700000,...,2.791667,3.900000,3.500000,2.925000,2.950000,2.616667,4.450000,2.975000,5.183333,4.050000
2019,5.475000,3.158333,3.466667,4.858333,4.116667,2.600000,3.533333,5.341667,3.700000,3.225000,...,2.800000,3.516667,3.400000,2.583333,2.750000,2.325000,4.300000,3.183333,4.900000,3.750000
2020,8.266667,6.500000,6.083333,7.700000,10.275000,6.883333,7.825000,7.925000,7.550000,8.266667,...,4.366667,7.708333,7.450000,4.733333,6.241667,5.566667,8.466667,6.341667,8.200000,5.808333
2021,6.425000,3.450000,4.058333,4.950000,7.366667,5.408333,6.300000,6.675000,5.391667,4.600000,...,3.133333,5.708333,4.316667,2.716667,3.925000,3.450000,5.283333,3.816667,5.075000,4.516667
2022,4.754545,2.754545,3.318182,3.527273,4.436364,3.600000,4.336364,5.436364,4.481818,2.900000,...,2.409091,4.236364,3.363636,2.054545,2.881818,2.418182,3.954545,3.018182,3.827273,3.354545

In [95]:
#We only want the years 2005 then 2014 -> 2020
#cols = [2005, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
df_final = df2[(df2.index == 2005) | (df2.index > 2014) & (df2.index < 2021)]

In [107]:
df_final.to_csv("Final-Unemployment-Data.csv")

C:\Users\ltpie\AppData\Local\Temp\ipykernel_15052\1577589615.py:1: DtypeWarning: Columns (33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  spending_df = pd.read_csv(spending_file_path)

,Unnamed: 0,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,...,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996
0,92,"""01000""",Alabama,5,SAGDP11N,1.0,...,All industry total (percent change),Percent change,3.50,...,0,0,0,0,0,0,0,0,0,0
1,93,"""01000""",Alabama,5,SAGDP11N,2.0,...,Private industries,Percentage points,3.29,...,0,0,0,0,0,0,0,0,0,0
2,94,"""01000""",Alabama,5,SAGDP11N,3.0,11,"Agriculture, forestry, fishing and hunting",Percentage points,0.18,...,0,0,0,0,0,0,0,0,0,0
3,95,"""01000""",Alabama,5,SAGDP11N,4.0,111-112,Farms,Percentage points,0.16,...,0,0,0,0,0,0,0,0,0,0
4,96,"""01000""",Alabama,5,SAGDP11N,5.0,113-115,"Forestry, fishing, and related activities",Percentage points,0.01,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86951,87675,"""98000""",Far West,8,SAGDP9S,74.0,...,Military,Millions of chained 1997 dollars,0.00,...,24159.9,24379.5,24578.8,24409.6,24590.5,23667.4,22529.0,21200.0,20008.7,19130.3
86952,87676,"""98000""",Far West,8,SAGDP9S,75.0,...,State and local,Millions of chained 1997 dollars,0.00,...,103766.6,106440.4,111946.9,115192.8,116701.3,117695.0,117865.8,117991.1,121619.9,122546.7
86953,87677,"""98000""",Far West,8,SAGDP9S,76.0,"36, 38",Electronic equipment and instruments 5/,Millions of chained 1997 dollars,0.00,...,20337.5,23995.6,24223.3,24256.5,25540.5,24652.6,25224.3,27109.3,36627.2,48358.9
86954,87678,"""98000""",Far West,8,SAGDP9S,77.0,"60, 61",Depository and nondepository institutions 6/,Millions of chained 1997 dollars,0.00,...,42820.4,43244.3,43763.3,48479.0,49381.1,40443.3,41888.3,40459.8,38577.9,36451.6
86955,87679,"""98000""",Far West,8,SAGDP9S,78.0,"73, 84, 87, 89",Business services and other services 7/,Millions of chained 1997 dollars,0.00,...,70507.8,79131.4,86488.2,96247.3,94316.8,95430.6,99108.7,105866.1,112798.4,123643.2